@model ShoppingCart.Models.Product
@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Dictionary<Product, int> showcart = (Dictionary<Product, int>)ViewData["showcart"];
    string productId = (string)ViewData["productId"]; //this line no longer needed
    bool isEmpty = (bool)ViewData["isEmpty"];
}


    <form method="post" style="background-color:#F0F8FF">
        <div class="table-responsive" style="background-color:#F0F8FF">
            <table class="table" style="background-color:#D4E6F1">
                <thead><tr><td><h2>Cart</h2></td></tr></thead>
                <thead style="background-color:#D4E6F1">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Genre</th>
                        <th scope="col">Price</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                @{
                    double total = 0;
                    var totalprice = "";

                    if (isEmpty)
                    {
                        <tbody style="background-color:#D4E6F1">
                            <tr>
                                <td colspan="6">
                                    <p>Cart Empty</p>
                                </td>
                            </tr>
                        </tbody>
                    }
                    else
                    {
                        foreach (var productData in showcart)
                        {
                            var imagefilePath = productData.Key.Name + ".jpg";
                            <tbody style="background-color: #D4E6F1 ">
                                <tr>
                                    <td class="col-md-2"><img src="~/Images/@imagefilePath" width="100%" height="40%" /></td>
                                    <td class="col-md-2">@productData.Key.Name</td>
                                    <td class="col-auto col-md-2  text-wrap" style="width:50%">@productData.Key.Description</td>
                                    <td class="col-md-2">@productData.Key.Genre</td>
                                    <td class="col-md-2">$@productData.Key.Price.ToString("0.00")</td>
                                    <td>
                                        <div class="btn-group" role="group">
                                            <button class="btn btn-primary btn-sm" value="@productData.Key.Name" type="submit" formaction="Gallery?cmd=RemoveFromCartFromCartView&ProductId=@productData.Key.Id"><i class="fa fa-minus"></i>-</button>
                                        </div>
                                        <div class="btn-group" role="group">
                                            <input type="text" id="@productData.Key.Name" class="form-control-plaintext" value=@productData.Value min=1 style="width:10px" />
                                            </div>
                                            <div class="btn-group" role="group">
                                                <button class="btn btn-primary btn-sm" value="@productData.Key.Name" type="submit" formaction="Gallery?cmd=AddToCartFromCartView&ProductId=@productData.Key.Id"><i class="fa fa-plus"></i>+</button>
                                            </div>
                                    </td>
                                </tr>
                            </tbody>
                            total += @productData.Value * @productData.Key.Price;
                            totalprice = "$" + total.ToString("0.00");
                        }
                    }
                }
                <tbody style="background-color:#D4E6F1">
                    <tr>
                        <td scope="col" colspan="4">
                            <u><a href="/Home/Gallery">Continue Shopping</a></u>
                        </td>
                        <td scope="col">Total</td>
                        <td scope="col">@totalprice</td>
                    </tr>
                    <tr>
                        <td colspan="5"></td>
                        <td scope="col">
                            @if (@ViewData["username"] == null && !isEmpty)
                            {
                                <a href="/Account/Login"><button type="button" class="btn btn-primary">Proceed to check out</button></a>
                                TempData["loginfromcart"] = "hello";
                            }
                            else
                            {
                                if (!isEmpty)
                                {
                                    <a href="/Account/NewPurchase"><button id="checkoutBtn" type="button" class="btn btn-primary">Proceed to check out</button></a>
                                }
                            }
                        </td>
                    </tr>
                </tbody>

            </table>

        </div>
    </form>

