@model ShoppingCart.Models.Product
@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Product> showcart = (List<Product>)ViewData["showcart"];
    string productId = (string)ViewData["productId"];
}

    <div class="table-responsive">
        <table class="table">
            <thead><tr><td><h2>Cart</h2></td></tr></thead>
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Genere</th>
                    <th scope="col">Price</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            @{
                double totalprice = 0;
                double count = 1;
                foreach (Product productData in showcart)
                {
                    var imagefilePath = productData.Name + ".jpg";
                    <tbody>
                        <tr>
                            <td class="col-md-2"><img src="~/Images/@imagefilePath" /></td>
                            <td class="col-md-2">@productData.Name</td>
                            <td class="col-auto col-md-2  text-wrap">@productData.Description</td>
                            <td class="col-md-2">@productData.Genre</td>
                            <td class="col-md-2">@productData.Price</td>
                            <td>
                                <button class="minus"><i class="fa fa-minus"></i>-</button>
                                <input type="text" id="input" class="form-control-plaintext" value=1 min=1>
                                <button class="plus"><i class="fa fa-plus"></i>+</button>
                                @*class="btn btn-primary btn-sm"*@
                            </td>
                        </tr>
                    </tbody>
                    totalprice += @count * @productData.Price;
                }
            }
            <tbody>
                <tr>
                    <td scope="col" colspan="4">
                        <u><a href="/Home/Gallery">Continue Shopping</a></u>
                    </td>
                    <td scope="col">Total</td>
                    <td scope="col">@totalprice</td>
                </tr>
                <tr>
                    <td colspan="5"></td>
                    <td scope="col">
                        @if (@ViewData["username"] == null)
                        {
                            <a href="/Account/Login"><button type="button" class="btn btn-primary">Procced to check out</button></a>
                        }
                        else
                        {
                            <a href="/Account/Checkout"><button type="button" class="btn btn-primary">Procced to check out</button></a>
                        }
                    </td>
                </tr>
            </tbody>

        </table>

    </div>


