@{
    @*ViewData["Title"] = "ViewProduct";*@
    Layout = "~/Views/Shared/_Layout.cshtml";
    var selectedProduct = (Product)ViewData["selectedProduct"];
    var recommendProducts = (List<Product>)ViewData["recommendedProducts"];
    var selectedProductDetails = ViewData["selectedProductDetails"];
    var rating = (int)ViewData["Rating"];
    var imageFileName = selectedProduct.Name + ".jpg";
    string finalRating;
}
@{
    if (rating == 0)
    {
        finalRating = "No Rating";
    }
    else
    {
        finalRating = rating.ToString() + "/5";
    }
}

<div class="ProductMain">
    <div class="ProductImage">
        <img width="240" height="300" src="~/Images/@imageFileName" />
    </div>
    <div class="ProductDetail">
        <div class="ProductDetail-col1"><p>Name: </p></div>
        <div class="ProductDetail-col2"><p>@selectedProduct.Name</p></div>
        <div class="ProductDetail-col1">
            <p>Rating: </p>
        </div>
        <div class="ProductDetail-col2">
            <p>@finalRating</p>
        </div>
        <div class="ProductDetail-col1">
            <p>Genre: </p>
        </div>
        <div class="ProductDetail-col2">
            <p>@selectedProduct.Genre</p>
        </div>
        <div class="ProductDetail-col1">
            <p>Description: </p>
        </div>
        <div class="ProductDetail-col2">
            <p>@selectedProduct.Description</p>
        </div>
        <div class="ProductDetail-col1">
            <p>Price: </p>
        </div>
        <div class="ProductDetail-col2">
            <p>$@selectedProduct.Price.ToString("0.00")</p>
        </div>
    </div>
</div>
<hr />
<div class="ProductMain">
    <h3>Recommendations</h3>
    @foreach (var recommendProduct in recommendProducts)
    {
        imageFileName = recommendProduct.Name + ".jpg";
        <div class="ProductImage">
            <img width="200" height="250" src="~/Images/@imageFileName" />
            <div class="ProductRecommendationTitle">
                @*asp-route-selected is add jquery parameter to route action, selected = action method parameter name*@
                <a asp-area="Customer" asp-controller="Home" asp-action="ViewProduct" asp-route-selected="@recommendProduct.Name">@recommendProduct.Name</a>
            </div>
        </div>
    }
</div>
<hr />
@*Add Reviews Section*@
<div class="ProductMain">
    <h3>Reviews</h3>
    <form action="AddComment" id="reviewForm">
        <div class="ProductDetail-col2" style="float:left">
            <p>Rating: </p>
            <span class="star-rating">
                &nbsp;1<input type="radio" class="ratingBtn" name="rating" value="1"><i></i>
                &nbsp;2<input type="radio" class="ratingBtn" name="rating" value="2"><i></i>
                &nbsp;3<input type="radio" class="ratingBtn" name="rating" value="3"><i></i>
                &nbsp;4<input type="radio" class="ratingBtn" name="rating" value="4"><i></i>
                &nbsp;5<input type="radio" class="ratingBtn" name="rating" value="5"><i></i>
            </span>
            <br />
            <textarea rows="4" class="col-auto" name="comment" form="reviewForm" placeholder="Add your review here...">
        </textarea>
            <div class="row">
                <input type="hidden" name="trackProduct" value="@selectedProduct.Name" />
                <input type="button" id="addCommentBtn" value="Submit" />
            </div>
        </div>
        <div class="ProductDetail-col2"></div>
    </form>
</div>


@*List Reviews Section*@
<div class="ProductMain" align="center">
    <table border="1">
        <tr>
            <th class="col-auto">Users</th>
            <th class="col-auto">Ratings</th>
            <th class="col-auto">Comments</th>
        </tr>
        @if (selectedProductDetails != null)
        {
            foreach (var selectedProductDetail in (List<ProductDetail>)selectedProductDetails)
            {
                <tr>
                    <td class="col-auto">@selectedProductDetail.User.Name</td>
                    <td class="col-auto">@selectedProductDetail.Rating</td>
                    <td class="col-auto">@selectedProductDetail.Comment</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3" class="col-auto">No Reviews</td>
            </tr>
        }
    </table>

</div>
